<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thông tin công trình</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtConstructionId" class="col-xs-2 col-form-label">Mã công trình<span class="star"> *</span></label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="txtConstructionId" name="txtConstructionId" maxlength="25">
                            </div>
                            <label for="txtStatus" id="lblStatus" class="col-sm-8 col-form-label" style="color:red;">Tạo mới test</label>
                        </div>
                            <div class="form-group row">
                                <label for="txtConstructionName" class="col-xs-2 col-form-label">Tên công trình<span class="star"> *</span></label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="txtConstructionName" name="txtConstructionName" maxlength="500">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="txtProjectName" class="col-sm-2 col-form-label">Tên dự án</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="txtProjectName" name="txtProjectName" maxlength="500" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtCustomer" class="col-sm-2 col-form-label">Chủ đầu tư<span class="star"> *</span></label>
                                <div class="col-sm-6 autocomplete">
                                    <input id="txtCustomer" data-id="" type="text" name="txtCustomer" placeholder="Chọn khách hàng" style="width:100%" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <table class="table table-bordered bom">
                                    <thead>
                                        <tr>
                                            <th width="5%">STT</th>
                                            <th width="25%">Tên tài liệu</th>
                                            <th width="30%">Chú thích</th>
                                            <th width="10%">Chọn têp</th>
                                            <th width="5%">Chọn</th>
                                            <th width="20%">Tệp được chọn</th>
                                            <th width="5%"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table-document-content" style="text-align:center"></tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="7">
                                                <button class="btn btn-xs btn-success" type="button" id="btn-add-document">Thêm</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <script type="x-tmpl-mustache" id="template-table-detail">
                                    <tr data-id="{{KeyId}}" data-linkdownload="{{Link}}">
                                        <td>{{stt}}</td>
                                        <td>
                                            <input type="text" class="form-control" value="{{Name}}" id="txtName" maxlength="200" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" value="{{Note}}" id="txtNote" maxlength="1000" />
                                        </td>
                                        <td id="col-image">
                                            <div class="col-sm-12 autocomplete">
                                                <input type="file" id="fileInputImage" style="display:none" />
                                                <span class="input-group-btn">
                                                    <a class="btn btn-xs btn-info" id="btnSelectImg"><i class="fa fa-folder-open-o"></i></a>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <label><input type="checkbox" value="" id="chkStatus"></label>
                                        </td>
                                        <td id="linkupload" style="color:red;">{{linkupload}}</td>

                                        <td><button class="btn btn-xs btn-danger btn-delete-document" type="button"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </script>
                            </div>
                            <div class="form-group row">
                                <label for="txtLastUpdatedByFk" class="col-sm-2 col-form-label">Người cập nhật gần nhất</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="txtLastUpdatedByFk">
                                </div>
                                <label for="dtDateModified" class="col-sm-2 col-form-label">Ngày cập nhật gần nhất</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="dtDateModified" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="btnSave" class="btn btn-success">Ghi</button>
                                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                                </div>
                            </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>