<div id="modal-add-edit-calculator" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thanh toán</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtSubtotal" class="col-sm-2 col-form-label">Số tiền thu<span class="star">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtSubtotal" name="txtSubtotal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selPaymentType" class="col-sm-2 col-form-label">Hình thức thanh toán</label>
                            <div class="col-sm-6">
                                <select id="selPaymentType" class="form-control" name="selPaymentType">
                                    <option value="">Chọn hình thức thanh toán</option>
                                    <option value="1">Tiền mặt</option>
                                    <option value="2">Thẻ</option>
                                    <option value="3">Chuyển khoản</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtAddressNumber" class="col-sm-4 col-form-label" id="lbFullName">Khách cần trả</label>
                            <div class="col-sm-8" id="TotalNeedPay" style="text-align:right">
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="contain-paid col-sm-12">

                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="txtFreight1" class="col-sm-4 col-form-label">Khách thanh toán</label>
                            <div class="col-sm-8" id="TotalPaid" style="text-align:right">
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSavePayment" class="btn btn-success">Xong</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Bỏ qua</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="payment-template" type="x-tmpl-mustache">
    <div class="row-payment" data-id3="{{KeyId}}">
        <div>{{PaymentType}}</div>
        <div>
            <select id="selAccountNumber" class="form-control" style="width:200px">
                <option value="">Chọn</option>
            </select>
        </div>
        
        <div id="subtotal">{{SubTotal}}</div>
        <div class="contain-btn">
            <a class="btn  btn-sm" id="btnDel" data-id1="{{KeyId}}"><i class="fa fa-close red" style="font-size:16px"></i></a>
        </div>
    </div>
</script>