
@{
    ViewData["Title"] = "Danh sách phiếu công tác";
}
@section Styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/css/BussinessApplication/BussinessApplication.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js"></script>
    <script src="~/app/controllers/BussinessApplication/BussinessApplicationTheme.js"></script>
}
<div class="pg-header container">
    <div class="form-inline pull-left" id="frmSearch">

        <input id="dtBegin" type="text" placeholder="Từ ngày" class="form-control" />
        <input id="dtEnd" type="text" placeholder="Đến ngày" class="form-control" />

        <label for="">Trạng thái: </label>
        <select class="form-control">
            <option>Chọn</option>
            <option>Đã tiếp nhận</option>
            <option>Trạng thái 2</option>
            <option>Trạng thái 3</option>
        </select>

        <input type="text" placeholder="Nhập giá trị tìm kiếm" class="form-control" />
        <button class="btn btn-info form-control">Tìm</button>
    </div>
    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addModal">Thêm</button>
</div>
<div class="pg-content panel panel-default">
    <table class="table text-center table-bordered">
        <thead>
            <tr class="info">
                <th>Mã phiếu</th>
                <th>Tên nhân viên</th>
                <th>Phòng ban</th>
                <th>Công tác</th>
                <th>Trạng thái</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <td>Phòng thi công</td>
                <td>
                    Từ 2/1/1996 <br />
                    Đến: --/--/----
                </td>
                <td>Đã tiếp nhận</td>
                <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <td>Phòng thi công</td>
                <td>
                    Từ 2/1/1996 <br />
                    Đến: --/--/----
                </td>
                <td>Đã tiếp nhận</td>
                <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span></button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pg-footer container">
    <!--Pagination-->
    <nav aria-label="Page navigation">
        <div class="pagination-status pull-left" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option selected>10</option>
                <option>20</option>
                <option>30</option>
                <option>50</option>
            </select>
            <label> bản ghi / trang.</label>
            <label>Tổng số bản ghi: <strong id="lblTotalRecords">9</strong></label>
        </div>
        <div class="pull-right">
            <ul id="paginationUL" class="pagination">
                <li class="page-item first disabled"><a href="#" class="page-link">Đầu</a></li>
                <li class="page-item prev disabled"><a href="#" class="page-link">Trước</a></li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item next"><a href="#" class="page-link">Tiếp</a></li>
                <li class="page-item last"><a href="#" class="page-link">Cuối</a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- add popup -->
<!-- Modal -->
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm - chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="form-group col-xs-6">
                        <label>Số phiếu</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Ngày lập phiếu</label>
                        <div class="input-group date">
                            <input id="dtDateCreate" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Tên nhân viên công tác</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Tên nhân viên lập phiếu</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Phòng ban</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Chức vụ</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-12">
                        <label>Địa điểm công tác</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Ngày bắt đầu</label>
                        <div class="input-group date">
                            <input id="dtDateStart" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Ngày kết thúc</label>
                        <div class="input-group date">
                            <input id="dtDateFinish" type="text" class="form-control" />
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Số ngày công tác</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-6">
                        <label>Phụ cấp công tác</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group col-xs-12">
                        <label>Ghi chú</label>
                        <input type="text" class="form-control" />
                    </div>
                    <!--checkbox-->
                    <div class="container">
                        <div class="checkbox col-xs-12">
                            <label class="col-xs-6"><input type="checkbox" value="">Phương tiện đi lại</label>
                            <button type="button" class="btn btn-info">Chọn tệp</button>
                        </div>

                        <div class="checkbox col-xs-12">
                            <label class="col-xs-6"><input type="checkbox" value="">Khách sạn</label>
                            <button type="button" class="btn btn-info">Chọn tệp</button>
                        </div>

                        <div class="checkbox col-xs-12">
                            <label class="col-xs-6"><input type="checkbox" value="">Giấy giới thiệu, giấy ủy quyển</label>
                            <button type="button" class="btn btn-info">Chọn tệp</button>
                        </div>

                        <div class="checkbox col-xs-12">
                            <label class="col-xs-6"><input type="checkbox" value="">Khác <input type="text" /></label>
                            <button type="button" class="btn btn-info">Chọn tệp</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Ghi</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Không ghi</button>
            </div>
        </div>

    </div>
</div>