@{
    ViewData["Title"] = "Nhập hàng tồn kho";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/inventory/index.js"></script>
    <script>
        var inventory = new inventoryController();
        inventory.initialize();</script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Danh sách hàng tồn kho</h3>
    </div>
    <div class="title_right">
        <div class="col-md-2 col-sm-12  form-group pull-right">
            <button id="btnCreate" class="btn btn-success">Thêm mới</button>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Gõ từ khóa...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm!</button>
                </span>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Kho chứa</th>
                            <th>Chủng loại</th>
                            <th>Đơn vị tính</th>
                            <th>Số lượng tồn kho</th>
                            <th>Giá trị tồn kho</th>
                            <th width="5%">#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{KeyId}}</td>
        <td>{{ProductRef}}</td>
        <td>{{ProductName}}</td>
        <td>{{Warehouse}}</td>
        <td>{{Category}}</td>
        <td>{{UnitName}}</td>
        <td>{{Qty_In_Stock}}</td>
        <td>{{TotalInventoryValue}}</td>
        <th scope="row">
            <button class="btn btn-default btn-sm btn-edit" data-id="{{KeyId}}"><i class="fa fa-pencil"></i></button>
        </th>
    </tr>
</script>
@await Html.PartialAsync("_AddEditInventory.cshtml")