<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm/Chỉnh sửa</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtId" class="col-sm-2 col-form-label">Mã sách</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtId" readonly />
                            </div>
                            <label for="txtMerchant" class="col-sm-2 col-form-label">Nhà cung cấp</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtMerchant" readonly />
                            </div>
                            <div class="hidden">
                                <input type="text" class="form-control" id="txtMerchantStatus" readonly />
                            </div>
                            <div class="hidden">
                                <input type="text" class="form-control" id="txtQty" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="dtDateCreated" class="col-sm-2 col-form-label">Ngày tạo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateCreated" readonly />
                            </div>
                            <label for="dtDateModified" class="col-sm-2 col-form-label">Ngày chỉnh sửa</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateModified" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 hidden">
                                <input type="text" class="form-control" id="txtMerchantKeyId" readonly />
                            </div>
                            <label for="txtBooktitle" class="col-sm-2 col-form-label">Tên sách<span class="star">*</span></label>
                            <div class="col-sm-4 ">
                                <input id="txtBooktitle" class="form-control" type="text" name="txtBooktitle" />
                            </div>
                            <label for="txtAuthor" class="col-sm-2 col-form-label">Tác giả<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAuthor" name="txtAuthor" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Thể loại<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selBookcategoryDetail" class="form-control" name="selBookcategoryDetail">
                                    <option value="">Chọn thể loại</option>

                                </select>
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Bìa<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selisPaperback" class="form-control" name="selisPaperback">
                                    <option value="">Chọn bìa</option>
                                    <option value="0">Mềm</option>
                                    <option value="1">Cứng</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtLength" class="col-sm-2 col-form-label">Chiều dài (cm)<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtLength" name="txtLength"/>
                            </div>
                            <label for="txtWidth" class="col-sm-2 col-form-label">Chiều rộng (cm)<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtWidth" name="txtWidth"/>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtHeight" class="col-sm-2 col-form-label">Độ dày (cm)</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtHeight" />
                            </div>
                            <label for="txtPageNumber" class="col-sm-2 col-form-label">Số trang<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtPageNumber" name="txtPageNumber" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtPrice" class="col-sm-2 col-form-label">Giá bán lẻ (VNĐ)<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control money-blue money" id="txtPrice" name="txtPrice" />
                            </div>
                            <label for="txtPrice" class="col-sm-2 col-form-label">Trạng thái</label>
                            <div class="col-sm-4" id="selStatus">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtDescription" class="col-sm-2 col-form-label">Mô tả</label>
                            <div class="col-sm-10">
                                <textarea rows="5" class="form-control" id="txtDescription"></textarea>
                            </div>

                        </div>

                        <div class="form-group row" id="ImportBookImg">
                            <input type="hidden" id="BookImg" />
                            <label for="txtFileImg" class="col-sm-2 col-form-label">Hình ảnh</label>
                            <div class="col-sm-10" >
                                <div>
                                    <input type="file" id="fileBookImg">
                                </div>
                            </div>


                        </div>

                        <div class="form-group row col-sm-10 hidden" id="ShowBookImg">

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                        <button type="button" id="btnSave" class="btn btn-success" >Ghi</button>
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
            </div>
        </div>
       
    </div>
</div>