@{
    ViewData["Title"] = "Access denied";
    Layout = null;
}


<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Bạn không có quyền truy cập trang này.</p>
</header>
