@{
    ViewData["Title"] = "Locked out";
    Layout = null;
}
@{
    Layout = null;
}
<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Tài khoản đã bị khóa, vui lòng thử lại sau.</p>
</header>
