@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = null;
}
@{
    Layout = null;
}
<h2>@ViewData["Title"]</h2>
<p>
    Mật khẩu đã được đặt lại. Vui lòng <a asp-action="Login">nhấp vào đây để đăng nhập</a>.
</p>
