<div id="modal-edit-bomdetail" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Định mức</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance-BomDetail">
                        <table class="table table-bordered" id="bomdetail">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã vật liệu</th>
                                    <th>Tên vật liệu</th>
                                    <th>ĐVT</th>
                                    <th>Định mức</th>
                                    <th>Đơn giá vật tư</th>
                                    <th>Đơn giá nhân công</th>
                                    <th>Đơn giá máy</th>
                                    <th>Chú thích</th>
                                    <th>ProductType</th>
                                </tr>
                            </thead>
                            <tbody id="table-bomdetail-content" style="text-align:center"></tbody>
                            
                        </table>
                        <script type="x-tmpl-mustache" id="template-bom-detail">
                            <tr data-id="{{KeyId}}">
                                <td>{{KeyId}}</td>
                                <td class="col-productCode">{{ProductCode}}</td>
                                <td style="text-align:left" class="col-sm-3 productName">
                                    <input type="text" class="form-control border-none" value="{{ProductName}}" id="txtProductNameDetail" />
                                </td>
                                <td id="productunit" data-unitid="{{ProductUnit}}">{{UnitName}}</td>
                                <td id="productqty" class="col-sm-2">
                                    <input type="text" value="{{ProductQty}}" class="form-control qty position-number border-none" id="txtProductQtyDetail" name="txtProductQtyDetail" />
                                </td>
                                <td id="material" class="col-sm-2">
                                    <input type="text" value="{{MaterialPrice}}" class="form-control position-number border-none" id="txtMaterialPriceDetail" name="txtMaterialPriceDetail" />
                                </td>
                                <td id="labor" class="col-sm-2">
                                    <input type="text" value="{{LaborPrice}}" class="form-control position-number border-none" id="txtLaborPriceDetail" name="txtLaborPriceDetail" />
                                </td>
                                <td id="equipment" class="col-sm-2">
                                    <input type="text" value="{{EquipmentPrice}}" class="form-control position-number border-none" id="txtEquipmentPriceDetail" name="txtEquipmentPriceDetail" />
                                </td>
                                <td id="note" class="col-sm-2">
                                    <input type="text" value="{{Note}}" class="form-control qty border-none" id="txtNoteDetail" name="txtNoteDetail" />
                                </td>
                                <td id="type">{{ProductType}}</td>
                                <td id="discountRate">{{DiscountRate}}</td>
                            </tr>
                        </script>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveDetail" class="btn btn-success">Ghi</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
