
@{
    ViewData["Title"] = "BankingInfo";
}

<h1>Hình thức thanh toán</h1>

<h3>Chuyển khoản:</h3>
<h4>Thông tin tài khoản:</h4>
<p>Chủ tài khoản: Bé Yêu Bookstore<br>
Số tài khoản: 0123456789<br>
Ngân hàng: Ngân hàng Bé Yêu<br>
Chi nhánh: Chi nhánh Bé Yêu<br>
    </p>