
@{
    ViewData["Title"] = "GeneralTerm";
}

<h1>Điều khoản</h1>
<h3>Sử dụng Dịch vụ của chúng tôi</h3>
Bạn phải tuân thủ mọi chính sách đã cung cấp cho bạn trong phạm vi Dịch vụ.

Không được sử dụng trái phép Dịch vụ của chúng tôi. Ví dụ: không được gây trở ngại cho Dịch vụ của chúng tôi hoặc tìm cách truy cập chúng bằng phương pháp nào đó không thông qua giao diện và hướng dẫn mà chúng tôi cung cấp. Bạn chỉ có thể sử dụng Dịch vụ của chúng tôi theo như được luật pháp cho phép, bao gồm cả các luật và quy định hiện hành về quản lý xuất khẩu và tái xuất khẩu. Chúng tôi có thể tạm ngừng hoặc ngừng cung cấp Dịch vụ của chúng tôi cho bạn nếu bạn không tuân thủ các điều khoản hoặc chính sách của chúng tôi hoặc nếu chúng tôi đang điều tra hành vi bị nghi ngờ là sai phạm.

Việc bạn sử dụng Dịch vụ của chúng tôi không có nghĩa là bạn được sở hữu bất cứ các quyền sở hữu trí tuệ nào đối với Dịch vụ của chúng tôi hoặc nội dung mà bạn truy cập. Bạn không được sử dụng nội dung từ Dịch vụ của chúng tôi trừ khi bạn được chủ sở hữu nội dung đó cho phép hoặc được luật pháp cho phép. Các điều khoản này không cấp cho bạn quyền sử dụng bất kỳ thương hiệu hoặc lôgô nào được sử dụng trong Dịch vụ của chúng tôi. Không được xóa, che khuất hoặc thay đổi bất kỳ thông báo pháp lý nào được hiển thị trong hoặc kèm theo Dịch vụ của chúng tôi.

Dịch vụ của chúng tôi hiển thị một số nội dung không phải của Bé Yêu Bookstore. Chỉ một mình đối tượng cung cấp sẽ chịu trách nhiệm về nội dung này. Chúng tôi có thể xem xét nội dung để xác định xem nội dung đó có bất hợp pháp hoặc vi phạm chính sách của chúng tôi hay không, và chúng tôi có thể xóa hoặc từ chối hiển thị nội dung mà chúng tôi có lý do chính đáng để tin rằng nội dung đó vi phạm chính sách của chúng tôi hoặc luật pháp. Tuy nhiên, điều đó không nhất thiết có nghĩa là chúng tôi sẽ xem xét nội dung, do vậy bạn đừng cho rằng chúng tôi sẽ làm như vậy.

Liên quan đến việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn các thông báo dịch vụ, thông báo quản trị và thông tin khác. Bạn có thể chọn không nhận một số thông báo này.

Một số các Dịch vụ của chúng tôi có sẵn trên các thiết bị di động. Không sử dụng các Dịch vụ đó theo cách khiến bạn bị mất tập trung và ngăn cản bạn tuân thủ các luật về an toàn hoặc giao thông.

<h3>Tài khoản Bé Yêu Bookstore của bạn</h3>
Bạn có thể cần có Tài khoản Bé Yêu Bookstore để sử dụng một số Dịch vụ của chúng tôi. Bạn có thể tạo Tài khoản Bé Yêu Bookstore của riêng mình hoặc Tài khoản Bé Yêu Bookstore của bạn có thể được chỉ định cho bạn bởi quản trị viên, chẳng hạn như công ty tuyển dụng hoặc tổ chức giáo dục của bạn. Nếu bạn đang sử dụng Tài khoản Bé Yêu Bookstore được chỉ định cho bạn bởi quản trị viên, các điều khoản khác hoặc bổ sung có thể được áp dụng và quản trị viên của bạn có thể truy cập hoặc vô hiệu hóa tài khoản của bạn.

Để bảo vệ Tài khoản Bé Yêu Bookstore của bạn, hãy giữ bí mật mật khẩu của bạn. Bạn chịu trách nhiệm đối với hoạt động xảy ra trên hoặc thông qua Tài khoản Bé Yêu Bookstore của bạn. Cố gắng không sử dụng lại mật khẩu Tài khoản Bé Yêu Bookstore của bạn trên các ứng dụng của bên thứ ba. Nếu bạn biết được bất kỳ hành vi sử dụng trái phép nào đối với mật khẩu hoặc Tài khoản Bé Yêu Bookstore của mình, hãy liên hệ với chúng tôi ngay lập tức.
<h3>Sửa đổi và chấm dứt Dịch vụ của chúng tôi</h3>
Chúng tôi không ngừng thay đổi và cải tiến Dịch vụ của mình. Chúng tôi có thể thêm hoặc xóa các chức năng hoặc tính năng và chúng tôi cũng có thể tạm ngừng hoặc ngừng hoàn toàn một Dịch vụ.

Bạn có thể ngừng sử dụng Dịch vụ của chúng tôi bất kỳ lúc nào, mặc dù chúng tôi sẽ rất tiếc khi bạn không còn sử dụng Dịch vụ của chúng tôi nữa. Bé Yêu Bookstore cũng có thể ngừng cung cấp Dịch vụ cho bạn hay thêm hoặc tạo ra những giới hạn mới cho Dịch vụ của chúng tôi bất kỳ lúc nào.

Chúng tôi tin rằng bạn sở hữu dữ liệu của bạn và việc bảo toàn quyền truy cập của bạn đối với dữ liệu đó là điều quan trọng. Nếu chúng tôi ngừng một Dịch vụ nào đó, khi khả thi và hợp lý, chúng tôi sẽ cung cấp cho bạn thông báo trước hợp lý và cơ hội để đưa thông tin ra khỏi Dịch vụ đó.
<h3>Điều khoản bảo đảm và Tuyên bố từ chối trách nhiệm của chúng tôi</h3>
Chúng tôi cung cấp các Dịch vụ có sử dụng mức độ kỹ năng và sự quan tâm hợp lý về mặt thương mại và chúng tôi hy vọng rằng bạn sẽ thích thú khi sử dụng các Dịch vụ này. Tuy nhiên, có một số điều nhất định mà chúng tôi không hứa hẹn về Dịch vụ của mình.

Trừ các trường hợp được nêu rõ trong các điều khoản này hoặc các điều khoản bổ sung, cả Bé Yêu Bookstore lẫn các nhà cung cấp hoặc nhà phân phối của Bé Yêu Bookstore đều không đưa ra bất kỳ hứa hẹn cụ thể nào về Dịch vụ. Ví dụ: chúng tôi không đưa ra bất kỳ cam kết nào về nội dung trong các Dịch vụ, chức năng cụ thể của các Dịch vụ, mức độ tin cậy, sự có sẵn hoặc khả năng đáp ứng nhu cầu của bạn của các Dịch vụ đó. Chúng tôi cung cấp các Dịch vụ theo “hiện trạng”.

Một số lãnh thổ có thẩm quyền tài phán có quy định một số bảo đảm nhất định, chẳng hạn như bảo đảm ngầm định về sự thích hợp cho mục đích thông thường, sự phù hợp cho mục đích cụ thể và không xâm phạm. Trong phạm vi được luật pháp cho phép, chúng tôi loại trừ tất cả bảo đảm.
<h3>Trách nhiệm pháp lý đối với Dịch vụ của chúng tôi</h3>
Khi được luật pháp cho phép, Bé Yêu Bookstore và các nhà cung cấp cũng như nhà phân phối của Bé Yêu Bookstore sẽ không chịu trách nhiệm về khoản lợi nhuận, doanh thu hoặc dữ liệu bị mất mát, thiệt hại tài chính hoặc các thiệt hại gián tiếp, đặc biệt, do hậu quả, do bị xử phạt để làm gương hoặc bị trừng phạt.

Trong phạm vi được luật pháp cho phép, toàn bộ trách nhiệm pháp lý của Bé Yêu Bookstore và các nhà cung cấp cũng như các nhà phân phối của Bé Yêu Bookstore đối với bất kỳ khiếu nại nào theo các điều khoản này, kể cả bất kỳ bảo đảm ngầm định nào, được giới hạn ở số tiền mà bạn đã thanh toán cho chúng tôi để sử dụng Dịch vụ (hoặc, theo sự lựa chọn của chúng tôi, cung cấp lại Dịch vụ cho bạn).

Trong mọi trường hợp, Bé Yêu Bookstore và các nhà cung cấp cũng như các nhà phân phối của Bé Yêu Bookstore sẽ không chịu trách nhiệm đối với bất kỳ tổn thất hay thiệt hại nào không thể dự đoán được một cách hợp lý

Chúng tôi công nhận rằng trong một số quốc gia, bạn có thể có các quyền hợp pháp với tư cách là người tiêu dùng. Nếu bạn đang sử dụng Dịch vụ cho mục đích cá nhân thì không có điều khoản nào trong số các điều khoản này hay các điều khoản bổ sung giới hạn quyền hợp pháp của người tiêu dùng, những quyền này không thể từ bỏ bằng hợp đồng.

<h3>Việc sử dụng Dịch vụ của chúng tôi cho doanh nghiệp</h3>
Nếu bạn đang sử dụng Dịch vụ của chúng tôi thay mặt cho doanh nghiệp, thì doanh nghiệp đó chấp nhận các điều khoản này. Doanh nghiệp đó sẽ bồi hoàn và giữ cho Bé Yêu Bookstore cũng như các công ty liên kết, cán bộ, người đại diện và nhân viên của Bé Yêu Bookstore không bị tổn hại đối với bất kỳ khiếu nại, khiếu kiện hoặc tố tụng nào nảy sinh từ hoặc có liên quan đến việc sử dụng Dịch vụ hoặc vi phạm các điều khoản này, bao gồm cả bất kỳ trách nhiệm pháp lý hoặc chi phí nào phát sinh từ các khiếu nại, tổn thất, thiệt hại, khiếu kiện, phán quyết, chi phí tố tụng và tiền phí luật sư.

<h3>Về các Điều khoản này</h3>
Chúng tôi có thể sửa đổi các điều khoản này hoặc bất kỳ điều khoản bổ sung nào áp dụng cho một Dịch vụ, chẳng hạn như để phản ánh những thay đổi về luật hoặc những thay đổi về Dịch vụ của chúng tôi. Bạn nên thường xuyên tìm hiểu các điều khoản này. Chúng tôi sẽ đăng thông báo về các sửa đổi đối với các điều khoản này trên trang này. Chúng tôi sẽ đăng thông báo về các điều khoản bổ sung đã được sửa đổi trong Dịch vụ được áp dụng. Các thay đổi sẽ không áp dụng hồi tố và sẽ có hiệu lực không sớm hơn mười bốn ngày sau khi các thay đổi đó được đăng. Tuy nhiên, những thay đổi liên quan đến chức năng mới của Dịch vụ hoặc các thay đổi được thực hiện vì lý do pháp lý sẽ có hiệu lực ngay lập tức. Nếu bạn không đồng ý với các điều khoản sửa đổi đối với một Dịch vụ nào đó, bạn nên ngừng sử dụng Dịch vụ đó.

Nếu có sự mâu thuẫn giữa các điều khoản này và các điều khoản bổ sung, thì các điều khoản bổ sung sẽ được ưu tiên áp dụng đối với trường hợp mâu thuẫn đó.

Các điều khoản này chi phối mối quan hệ giữa Bé Yêu Bookstore và bạn. Các điều khoản này không tạo ra bất kỳ quyền thụ hưởng nào cho bên thứ ba.

Nếu bạn không tuân thủ các điều khoản này và chúng tôi không hành động ngay, điều này không có nghĩa là chúng tôi đang từ bỏ bất kỳ các quyền nào mà chúng tôi có thể có (chẳng hạn như hành động trong tương lai).

Nếu thực tế cho thấy một điều khoản cụ thể nào đó là không thể thực thi, điều này sẽ không làm ảnh hưởng đến bất kỳ các điều khoản nào khác.

Các tòa án ở một số quốc gia sẽ không áp dụng luật của Việt Nam cho một số loại tranh chấp. Nếu bạn cư trú ở một trong những quốc gia đó thì, trường hợp luật pháp của Việt Nam bị loại trừ áp dụng, luật pháp của quốc gia của bạn sẽ áp dụng cho các tranh chấp có liên quan đến những điều khoản này. Nếu không, bạn đồng ý rằng luật pháp của Việt Nam, ngoại trừ các nguyên tắc về lựa chọn pháp luật của Việt Nam về các quy định luật pháp, sẽ áp dụng đối với mọi tranh chấp phát sinh từ hoặc có liên quan đến các điều khoản này hoặc Dịch vụ. Tương tự, nếu các tòa án ở quốc gia của bạn sẽ không cho phép bạn đồng ý với thẩm quyền tài phán của các tòa án ở Việt Nam, thì thẩm quyền tài phán và địa điểm xét xử của địa phương bạn sẽ áp dụng đối với những tranh chấp liên quan đến những điều khoản này. Nếu không, tất cả khiếu nại phát sinh từ hoặc có liên quan đến các điều khoản này hoặc dịch vụ sẽ được đưa ra tố tụng duy nhất ở các tòa án Việt Nam và bạn cũng như Bé Yêu Bookstore đồng ý với thẩm quyền tài phán của các tòa án đó đối với mình.

Để tìm hiểu thông tin về cách liên hệ với Bé Yêu Bookstore, vui lòng truy cập trang liên hệ của chúng tôi.
