
@{
    ViewData["Title"] = "Merchant";
}

<h1>Đối với nhà cung cấp</h1>
<h3>Trách nhiệm pháp lý đối với Dịch vụ của chúng tôi</h3>
Khi được luật pháp cho phép, Bé Yêu Bookstore và các nhà cung cấp cũng như nhà phân phối của Bé Yêu Bookstore sẽ không chịu trách nhiệm về khoản lợi nhuận, doanh thu hoặc dữ liệu bị mất mát, thiệt hại tài chính hoặc các thiệt hại gián tiếp, đặc biệt, do hậu quả, do bị xử phạt để làm gương hoặc bị trừng phạt.

Trong phạm vi được luật pháp cho phép, toàn bộ trách nhiệm pháp lý của Bé Yêu Bookstore và các nhà cung cấp cũng như các nhà phân phối của Bé Yêu Bookstore đối với bất kỳ khiếu nại nào theo các điều khoản này, kể cả bất kỳ bảo đảm ngầm định nào, được giới hạn ở số tiền mà bạn đã thanh toán cho chúng tôi để sử dụng Dịch vụ (hoặc, theo sự lựa chọn của chúng tôi, cung cấp lại Dịch vụ cho bạn).

Trong mọi trường hợp, Bé Yêu Bookstore và các nhà cung cấp cũng như các nhà phân phối của Bé Yêu Bookstore sẽ không chịu trách nhiệm đối với bất kỳ tổn thất hay thiệt hại nào không thể dự đoán được một cách hợp lý

Chúng tôi công nhận rằng trong một số quốc gia, bạn có thể có các quyền hợp pháp với tư cách là người tiêu dùng. Nếu bạn đang sử dụng Dịch vụ cho mục đích cá nhân thì không có điều khoản nào trong số các điều khoản này hay các điều khoản bổ sung giới hạn quyền hợp pháp của người tiêu dùng, những quyền này không thể từ bỏ bằng hợp đồng.

<h3>Việc sử dụng Dịch vụ của chúng tôi cho doanh nghiệp</h3>
Nếu bạn đang sử dụng Dịch vụ của chúng tôi thay mặt cho doanh nghiệp, thì doanh nghiệp đó chấp nhận các điều khoản này. Doanh nghiệp đó sẽ bồi hoàn và giữ cho Bé Yêu Bookstore cũng như các công ty liên kết, cán bộ, người đại diện và nhân viên của Bé Yêu Bookstore không bị tổn hại đối với bất kỳ khiếu nại, khiếu kiện hoặc tố tụng nào nảy sinh từ hoặc có liên quan đến việc sử dụng Dịch vụ hoặc vi phạm các điều khoản này, bao gồm cả bất kỳ trách nhiệm pháp lý hoặc chi phí nào phát sinh từ các khiếu nại, tổn thất, thiệt hại, khiếu kiện, phán quyết, chi phí tố tụng và tiền phí luật sư.

<h3>Về các Điều khoản này</h3>
Chúng tôi có thể sửa đổi các điều khoản này hoặc bất kỳ điều khoản bổ sung nào áp dụng cho một Dịch vụ, chẳng hạn như để phản ánh những thay đổi về luật hoặc những thay đổi về Dịch vụ của chúng tôi. Bạn nên thường xuyên tìm hiểu các điều khoản này. Chúng tôi sẽ đăng thông báo về các sửa đổi đối với các điều khoản này trên trang này. Chúng tôi sẽ đăng thông báo về các điều khoản bổ sung đã được sửa đổi trong Dịch vụ được áp dụng. Các thay đổi sẽ không áp dụng hồi tố và sẽ có hiệu lực không sớm hơn mười bốn ngày sau khi các thay đổi đó được đăng. Tuy nhiên, những thay đổi liên quan đến chức năng mới của Dịch vụ hoặc các thay đổi được thực hiện vì lý do pháp lý sẽ có hiệu lực ngay lập tức. Nếu bạn không đồng ý với các điều khoản sửa đổi đối với một Dịch vụ nào đó, bạn nên ngừng sử dụng Dịch vụ đó.

Nếu có sự mâu thuẫn giữa các điều khoản này và các điều khoản bổ sung, thì các điều khoản bổ sung sẽ được ưu tiên áp dụng đối với trường hợp mâu thuẫn đó.

Các điều khoản này chi phối mối quan hệ giữa Bé Yêu Bookstore và bạn. Các điều khoản này không tạo ra bất kỳ quyền thụ hưởng nào cho bên thứ ba.

Nếu bạn không tuân thủ các điều khoản này và chúng tôi không hành động ngay, điều này không có nghĩa là chúng tôi đang từ bỏ bất kỳ các quyền nào mà chúng tôi có thể có (chẳng hạn như hành động trong tương lai).

Nếu thực tế cho thấy một điều khoản cụ thể nào đó là không thể thực thi, điều này sẽ không làm ảnh hưởng đến bất kỳ các điều khoản nào khác.

Các tòa án ở một số quốc gia sẽ không áp dụng luật của Việt Nam cho một số loại tranh chấp. Nếu bạn cư trú ở một trong những quốc gia đó thì, trường hợp luật pháp của Việt Nam bị loại trừ áp dụng, luật pháp của quốc gia của bạn sẽ áp dụng cho các tranh chấp có liên quan đến những điều khoản này. Nếu không, bạn đồng ý rằng luật pháp của Việt Nam, ngoại trừ các nguyên tắc về lựa chọn pháp luật của Việt Nam về các quy định luật pháp, sẽ áp dụng đối với mọi tranh chấp phát sinh từ hoặc có liên quan đến các điều khoản này hoặc Dịch vụ. Tương tự, nếu các tòa án ở quốc gia của bạn sẽ không cho phép bạn đồng ý với thẩm quyền tài phán của các tòa án ở Việt Nam, thì thẩm quyền tài phán và địa điểm xét xử của địa phương bạn sẽ áp dụng đối với những tranh chấp liên quan đến những điều khoản này. Nếu không, tất cả khiếu nại phát sinh từ hoặc có liên quan đến các điều khoản này hoặc dịch vụ sẽ được đưa ra tố tụng duy nhất ở các tòa án Việt Nam và bạn cũng như Bé Yêu Bookstore đồng ý với thẩm quyền tài phán của các tòa án đó đối với mình.

Để tìm hiểu thông tin về cách liên hệ với Bé Yêu Bookstore, vui lòng truy cập trang liên hệ của chúng tôi.
