@using BeYeuBookstore.Utilities.Constants
@using Microsoft.AspNetCore.Authorization
@using BeYeuBookstore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    //kiểm tra quyền tạo đối với nut create cho hiểu thị nut
    var result_edit = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.WebMaster, Operations.Create);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_delete = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.WebMaster, Operations.Delete);
    //kiểm tra quyền tạo đối với nut update cho hiểu thị nut
    var result_create = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.WebMaster, Operations.Update);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_confirm = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.WebMaster, Operations.Confirm);
    var result_read = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.WebMaster, Operations.Read);
}
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
@section Scripts{


    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" asp-append-version="true"></script>
    <script src="~/app/controllers/webmaster/index.js" asp-append-version="true"></script>

    <script>
        var webmaster = new webmasterController();
        webmaster.initialize();
    </script>
}
<div class="title_left">
    <h3>Quản lý Webmaster</h3>
</div>
<div class="form-group row">
    <div class="form-inline pull-left col-lg-4">
        <div class="input-daterange input-group" id="range-work-picker">
            <input id="dtBegin" type="text" placeholder="dd/mm/yyyy" name="start" class="form-control" />
            <span class="input-group-addon">đến</span>
            <input id="dtEnd" type="text" placeholder="dd/mm/yyyy" name="end" class="form-control" />
        </div>
    </div>
    <div class="col-lg-2">
        <select class="form-control" id="selWebmasterPosition">
            <option value="">Chọn chức vụ</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control" id="selStatus">
            <option value="">Chọn trạng thái</option>
            <option value="1">Kích hoạt</option>
            <option value="0">Khóa</option>
        </select>
    </div>
    <div class="col-sm-2 form-group">
        <input type="text" id="txtKeyword" class="form-control" placeholder="Gõ từ khóa...">
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped table-bordered table-fix-header">
                    <thead>
                        <tr>
                            <th width="3%">Mã</th>
                            <th width="10%">Họ và tên</th>
                            <th width="20%">Chức vụ</th>
                            <th>Tên đăng nhập</th>
                            <th width="10%">Trạng thái</th>
                            <th width="8%">#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{KeyId}}</td>
        <td>{{Fullname}}</td>
        <td>{{WebmasterType}}</td>
        <td>{{UserName}}</td>
        <td>{{{Status}}}</td>
        <td scope="row">
            <a class="btn btn-xs btn-default btn-edit {{{Prop}}}" {{{Prop}}} data-id="{{KeyId}}"><i class="fa fa-pencil"></i></a>
        </td>
    </tr>
</script>
@await Html.PartialAsync("_AddEditWebMaster.cshtml")
