<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="modal-tab">
                            <div class="product-details-large tab-content">
                                <div class="tab-pane active" id="image-1">
                                    <img id="imgDetail" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="modal-pro-content">
                            <h3 id="txtBookNameModal"></h3>
                            <div class="price">
                                <span id="txtPriceModal"></span>
                            </div>
                            <p id="txtDescriptionModal"></p>
                            <div class="quick-view-select">
                                <div class="select-option-part">

                                </div>
                                <div class="quickview-color-wrap">

                                </div>
                            </div>
                            <form action="#">
                                <input type="number" value="1" min="1"/>
                                <button>Thêm vào giỏ hàng</button>
                            </form>
                            <span><i class="fa fa-check"></i>Còn hàng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->