@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Frontend/_Layout.cshtml";
}
@section Scripts{
    <script src="~/app/controllers/beyeubookstore/Index.js"></script>
    <script>
        var beyeubookstore = new beyeubookstoreController();
        beyeubookstore.initialize();
    </script>
}



<!-- slider-group-start -->
<div class="slider-group  mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <!-- slider-area-start -->
                <div class="slider-area">
                    <div class="slider-active owl-carousel">
                        <div class="single-slider slider-hm4-1 pt-154 pb-154 bg-img" style="background-image:url(../../wwwroot/images/img/slider/7.jpg);">
                            <div class="slider-content-4 slider-animated-1 pl-40">
                                <h1>Giảm giá cực sốc</h1>

                                <a href="#">Mua ngay</a>
                            </div>
                        </div>
                        <div class="single-slider pt-154 pb-154 bg-img" style="background-image:url(../../wwwroot/images/img/slider/8.jpg);">
                            <div class="slider-content-4 slider-animated-1 pl-40">
                                <h1>Khuyến mãi chào Hè</h1>
                                <h2></h2>
                                <a href="#">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slider-area-end -->
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                <!-- banner-static-2-start -->
                <div class="banner-static-2">
                    <div class="banner-img-2" id="AdPosition1">
                        <a href="#"><img src="~/images/img/banner/20.jpg" alt="banner" /></a>
                    </div>
                    <!-- banner-area-3-start -->
                    <div class="banner-area-3">
                        <!-- single-banner-2-start -->
                        <div class="single-banner-2 mt-16">
                            <div class="single-icon-2">
                                <a href="#">
                                    <img class="service-blue-img" src="~/images/img/icon-img/service-1.png" alt="banner" />
                                    <img class="service-white-img" src="~/images/img/icon-img/service-1-white.png" alt="banner" />
                                </a>
                            </div>
                            <div class="single-text-2">
                                <h2>Free shipping item</h2>
                                <p>For all orders over $500</p>
                            </div>
                        </div>
                        <!-- single-banner-2-end -->
                        <!-- single-banner-2-start -->
                        <div class="single-banner-2 mt-16">
                            <div class="single-icon-2">
                                <a href="#">
                                    <img class="service-blue-img" src="~/images/img/icon-img/service-2.png" alt="banner" />
                                    <img class="service-white-img" src="~/images/img/icon-img/service-2-white.png" alt="banner" />
                                </a>
                            </div>
                            <div class="single-text-2">
                                <h2>Money back guarante</h2>
                                <p>100% money back guarante</p>
                            </div>
                        </div>
                        <!-- single-banner-2-end -->
                        <!-- single-banner-2-start -->
                        <div class="single-banner-2 mt-16">
                            <div class="single-icon-2">
                                <a href="#">
                                    <img class="service-blue-img" src="~/images/img/icon-img/service-3.png" alt="banner" />
                                    <img class="service-white-img" src="~/images/img/icon-img/service-3-white.png" alt="banner" />
                                </a>
                            </div>
                            <div class="single-text-2">
                                <h2>Cash on delivery</h2>
                                <p>Lorem ipsum dolor amet</p>
                            </div>
                        </div>
                        <!-- single-banner-2-end -->
                    </div>
                    <!-- banner-area-3-end -->
                </div>
                <!-- banner-static-2-end -->
            </div>
        </div>
    </div>
</div>
<!-- slider-group-end -->
<!-- home-main-area-start -->
<div class="home-main-area mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!-- category-area-start -->
                <div class="category-area mb-30">
                    <h3><a href="#">Danh mục <i class="fa fa-bars"></i></a></h3>
                    <div class="category-menu">
                        <nav class="menu">
                            <ul>
                                <li class="cr-dropdown">
                                    <a href="#">Sách trong nước<i class="none-lg fa fa-angle-down"></i><i class="none-sm fa fa-angle-right"></i></a>
                                    <div class="left-menu">
                                        <span class="mb-30">
                                            <a href="#" class="title">Văn học</a>
                                            <a href="#">Tiểu thuyết</a>
                                            <a href="#">Truyện ngắn</a>
                                            <a href="#">Tản văn</a>
                                            <a href="#">Ngôn tình</a>
                                        </span>
                                        <span class="mb-30">
                                            <a href="#" class="title">Kinh tế</a>
                                            <a href="#">Quản trị lãnh đạo</a>
                                            <a href="#">Marketing bán hàng</a>
                                            <a href="#">Phân tích kinh tế</a>
                                            <a href="#">Bài học kinh doanh</a>
                                        </span>
                                        <span>
                                            <a href="#" class="title">Tâm lý - Kĩ năng sống</a>
                                            <a href="#">Kỹ năng sống</a>
                                            <a href="#">Rèn luyện nhân cách</a>
                                            <a href="#">Tâm lý</a>
                                            <a href="#">Tuổi mới lớn</a>
                                        </span>
                                        <span>
                                            <a href="#" class="title">Thiếu nhi</a>
                                            <a href="#">Truyện tranh</a>
                                            <a href="#">Kiến thức bách khoa</a>
                                            <a href="#">Vừa học vừa chơi</a>
                                            <a href="#">Kỹ năng sống cho trẻ</a>
                                        </span>
                                    </div>
                                </li>
                                <li class="cr-dropdown">
                                    <a href="#">Audio books<i class="none-lg fa fa-angle-down"></i><i class="none-sm fa fa-angle-right"></i></a>
                                </li>
                                <li class="cr-dropdown">
                                    <a href="#">Sách nước ngoài <i class="none-lg fa fa-angle-down"></i><i class="none-sm fa fa-angle-right"></i></a>
                                    <div class="left-menu">
                                        <span class="mb-30">
                                            <a href="#" class="title">Tops</a>
                                            <a href="#">Shirts</a>
                                            <a href="#">Florals</a>
                                            <a href="#">Crochet</a>
                                            <a href="#">Stripes</a>
                                        </span>
                                        <span class="mb-30">
                                            <a href="#" class="title">Bottoms</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Heeled sandals</a>
                                            <a href="#">Flat sandals</a>
                                            <a href="#">Wedges</a>
                                        </span>
                                        <span>
                                            <a href="#" class="title">Shorts</a>
                                            <a href="#">Dresses</a>
                                            <a href="#">Trousers</a>
                                            <a href="#">Jeans</a>
                                        </span>
                                    </div>
                                    <ul>
                                        <li class="cr-sub-dropdown sub-style">
                                            <a href="#">Jackets <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop-grid-2-col.html">Tops & Tees</a></li>
                                                <li><a href="shop-grid-3-col.html">Polo Short Sleeve</a></li>
                                                <li><a href="shop.html">Graphic T-Shirts</a></li>
                                                <li><a href="shop-grid-6-col.html">Jackets & Coats</a></li>
                                                <li><a href="shop-grid-box.html">Fashion Jackets</a></li>
                                            </ul>
                                        </li>
                                        <li class="cr-sub-dropdown sub-style">
                                            <a href="#">Bottoms <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop-list.html">Heeled sandals</a></li>
                                                <li><a href="shop-list.html">Polo Short Sleeve</a></li>
                                                <li><a href="shop-list-2-col.html">Flat sandals</a></li>
                                                <li><a href="shop-list-3-col.html">Short Sleeve</a></li>
                                                <li><a href="shop-list-box.html">Long Sleeve</a></li>
                                            </ul>
                                        </li>
                                        <li class="cr-sub-dropdown sub-style">
                                            <a href="#">weaters <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="product-details.html">Sleeveless</a></li>
                                                <li><a href="product-details-sticky.html">Stripes</a></li>
                                                <li><a href="product-details-gallery.html">Sweaters</a></li>
                                                <li><a href="product-details-fixed-img.html">hoodies</a></li>
                                                <li><a href="product-details-fixed-img.html">Crochet</a></li>
                                                <li><a href="product-details-fixed-img.html">weaters</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="cr-dropdown">
                                    <a href="#">bussiness & money<i class="none-lg fa fa-angle-down"></i><i class="none-sm fa fa-angle-right"></i></a>
                                    <div class="left-menu">
                                        <span>
                                            <a href="#" class="title">Rings</a>
                                            <a href="#">Coats & Jackets</a>
                                            <a href="#">Blazers</a>
                                            <a href="#">Jackets</a>
                                            <a href="#">Raincoats</a>
                                            <a href="#">Trousers</a>
                                        </span>
                                        <span>
                                            <a href="#" class="title">Trousers</a>
                                            <a href="#">Joggers</a>
                                            <a href="#">Casual</a>
                                            <a href="#">Chinos</a>
                                            <a href="#">Tailored</a>
                                            <a href="#">Jeans</a>
                                        </span>
                                    </div>
                                    <ul>
                                        <li class="cr-sub-dropdown sub-style">
                                            <a href="#">Jackets <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop-grid-2-col.html">Tops & Tees</a></li>
                                                <li><a href="shop-grid-3-col.html">Polo Short Sleeve</a></li>
                                                <li><a href="shop.html">Graphic T-Shirts</a></li>
                                                <li><a href="shop-grid-6-col.html">Jackets & Coats</a></li>
                                                <li><a href="shop-grid-box.html">Fashion Jackets</a></li>
                                            </ul>
                                        </li>
                                        <li class="cr-sub-dropdown sub-style">
                                            <a href="#">Bottoms <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="shop-list.html">Heeled sandals</a></li>
                                                <li><a href="shop-list.html">Polo Short Sleeve</a></li>
                                                <li><a href="shop-list-2-col.html">Flat sandals</a></li>
                                                <li><a href="shop-list-3-col.html">Short Sleeve</a></li>
                                                <li><a href="shop-list-box.html">Long Sleeve</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- category-area-end -->
                <!-- banner-area-start -->
                <div class="banner-area mb-30">
                    <div class="banner-img-2" id="AdPosition4">
                        <a href="#"><img src="~/images/img/banner/21.jpg" alt="banner" /></a>
                    </div>
                </div>
                <!-- recent-post-area-end -->
                <!-- block-newsletter-area-start -->
                <div class="block-newsletter">
                    <h2>Đăng ký để gửi quảng cáo</h2>
                    <p>Bạn có thể đưa những tin tức mới nhất về sản phẩm của mình đến với mọi người!</p>
                    <a href="#">Đăng ký</a>
                </div>
                <!-- block-newsletter-area-end -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <!-- banner-area-5-start -->
                <div class="banner-area-5">
                    <div class="single-banner-4 xs-mb">
                        <div class="banner-img-2" id="AdPosition2">
                            <a href="#"><img src="~/images/img/banner/24.jpg" alt="banner" /></a>
                        </div>
                    </div>
                    <div class="single-banner-5">
                        <div class="banner-img-2" id="AdPosition3">
                            <a href="#"><img src="~/images/img/banner/23.jpg" alt="banner" /></a>
                        </div>
                    </div>
                </div>
                <!-- banner-area-5-end -->
                <div class="new-book-area ptb-50">
                    <div class="section-title-2 mb-30">
                        <h3>Sách mới</h3>
                    </div>
                    <div id="LoadBook">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- home-main-area-end -->
<!-- banner-area-start -->
<div class="banner-area-5 mtb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-img-2 for-height" id="AdPosition5">
                    <a href="#"><img src="~/images/img/banner/5.jpg" alt="banner" /></a>
                    <div class="banner-text">
                        <h3>G. Meyer Books & Spiritual Traveler Press</h3>
                        <h2>Sale up to 30% off</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area-end -->
<!-- script -->
<script id="bookcase" type="x-tmpl-mustache">
    <div class="col-lg-3 col-md-5 col-sm-5 col-xs-12">
        <!-- single-product-start -->
        <div class="product-wrapper mb-40">
            <input type="hidden" id="txtBookKeyId" value="{{KeyId}}" />
            <div class="product-img">
                <a href="{{LinkBook}}">
                    <img src="{{BookImage}}" alt="book" class="primary" />
                </a>
                <div class="quick-view">
                    <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Xem" id="ShowDetail">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
            </div>
            <div class="product-details text-center">
                <h4><a href="{{LinkBook}}" style="font-family: Verdana; font-size: 14px; font-weight: normal">{{BookTitle}}</a></h4>
                <div class="product-price">
                    <ul>
                        <li>{{BookPrice}}</li>
                    </ul>
                </div>
            </div>
            <div class="product-link">
                <div class="product-button">
                    <a title="Thêm vào giỏ hàng" id="AddToCart" style="cursor:pointer;"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        <!-- single-product-end -->
    </div>
</script>
<!--- end script -->

@await Html.PartialAsync("_LoadBookDetailModal.cshtml")