
@{
    ViewData["Title"] = "WaitingConfirmation";
    Layout = "~/Views/Shared/Frontend/_Layout.cshtml";
}

<div class="product-main-area mb-70" style="margin-top:15px;">
    <div class="container">
        <div class="row">
            <span>Cám ơn bạn đã đăng ký sử dụng Bé Yêu Bookstore. Hãy kiểm tra Email và xác nhận để mua sắm cùng Bé Yêu nhé</span>
        </div>
    </div>    
</div>

