<div id="modal-add-edit-unit-category" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Loại đơn vị tính</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmUnitCategory">
                        <div class="form-group row">
                            <label for="txtUnitCategoryKeyid" class="col-sm-2 col-form-label">Mã</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtUnitCategoryKeyid" name="txtUnitCategoryKeyid">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtUnitCategoryName" class="col-sm-2 col-form-label">Loại đơn vị tính<span class="star"> *</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="txtUnitCategoryName" name="txtUnitCategoryName" maxlength="50">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtDescription" class="col-sm-2 col-form-label">Mô tả<span class="star"> *</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtDescription" name="txtDescription" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtUnitCategoryLastUpdatedByFK" class="col-sm-2 col-form-label">Người cập nhật gần nhất</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="txtUnitCategoryLastUpdatedByFK">
                            </div>
                            <label for="dtUnitCategoryDateModified" class="col-sm-2 col-form-label">Ngày cập nhật gần nhất</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="dtUnitCategoryDateModified" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="checkbox col-xs-offset-8">
                                <label><input type="checkbox" value="" id="chkUnitCategoryStatus">Còn dùng?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnUnitCategorySave" class="btn btn-success">Ghi</button>
                                <button type="button" id="btnUnitCategoryCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>