<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Sản phẩm</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtProductName" class="col-sm-2 col-form-label">Tên sản phẩm <span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtProductName" name="txtProductName">
                            </div>
                            <label for="txtProductCode" class="col-sm-2 col-form-label">Mã sản phẩm<span class="star">*</span></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="txtProductCode" name="txtProductCode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="selProductType" class="col-sm-2 col-form-label">Loại sản phẩm<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selProductType" class="form-control" name="selProductType"></select>
                            </div>
                            <label for="selUnit" class="col-sm-2 col-form-label" id="lbIDNumber">Đơn vị tính<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selUnit" class="form-control" name="selUnit"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtImage" class="col-sm-2">Hình ảnh</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="txtImage" class="form-control" id="txtImage" />
                                    <input type="file" id="fileInputImage" style="display:none" />
                                    <span class="input-group-btn">
                                        <input type="button" id="btnSelectImg" class="btn btn-default" value="Chọn ảnh" />
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="modal-body">
                                <div id="horizontal-form">
                                    <input type="hidden" id="hidId" value="" />
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-3">Thuộc tính</th>
                                                <th class="col-lg-8">Giá trị của thuộc tính</th>
                                                <th class="col-lg-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-quantity-content"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button class="btn btn-xs btn-success" type="button" id="btn-add-quantity">Thêm</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <script type="x-tmpl-mustache" id="template-table-quantity">
                                        <tr data-id="{{KeyId}}">
                                            <td id="atribute-col">{{{Atributes}}}</td>
                                            <td id="attributeValue-col">
                                                @*<div id="wrapper">
                        <input name="tags" id="singleFieldTags2" style="width:100%" class="form-control combobox-f combo-f textbox-f">
                    </div>*@
                                                <div class="tags-value autocomplete">
                                                    <ul class="tags-list"></ul>
                                                    <input type="text" style="width:150px;float:left;" id="txtValue" placeholder="Nhập giá trị" />
                                                    <div class="autocomplete-items contain-attributeValue">

                                                    </div>

                                                </div>
                                            </td>
                                            <td><button class="btn btn-xs btn-danger btn-delete-quantity" type="button"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </script>

                                    <script type="x-tmpl-mustache" id="template-table-load">
                                        <tr>
                                            <td id="atribute-col">{{{Atributes}}}</td>
                                            <td id="attributeValue-col">
                                                <div class="tags-value autocomplete">
                                                    <input type="text" style="width:150px;float:left;" id="txtValue" placeholder="Nhập giá trị" value="{{value}}"/>
                                                    <div class="autocomplete-items contain-attributeValue">

                                                    </div>

                                                </div>
                                            </td>
                                            <td><button class="btn btn-xs btn-danger btn-delete-quantity" type="button" data-id="{{KeyId}}"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" id="list-same-product">
                            <label>Danh sách sản phẩm cùng loại</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-lg-3">Mã sản phẩm</th>
                                        <th class="col-lg-8">Tên sản phẩm</th>
                                        <th class="col-lg-1"></th>
                                    </tr>
                                </thead>
                                <tbody id="table-same-product-content"></tbody>
                            </table>
                        </div>
                        <script type="x-tmpl-mustache" id="template-table-product">
                            <tr>
                                <td id="productCode">{{ProductCode}}</td>
                                <td id="productName">{{ProductName}}</td>
                                <td>
                                    <button class="btn btn-xs btn-danger btn-delete-product" type="button"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </script>
                        <div class="form-group row">
                            <label for="txtLastUpdatedByFK" class="col-sm-2 col-form-label">Người cập nhật gần nhất</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtLastUpdatedByFK">
                            </div>
                            <label for="dtDateModified" class="col-sm-2 col-form-label">Ngày cập nhật gần nhất</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateMotified" />
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="checkbox col-sm-4">
                                <label><input type="checkbox" value="" id="chkStatus">Còn dùng?</label>
                            </div>
                            <div class="checkbox col-sm-4">
                                <label><input type="checkbox" value="" id="chkIsSimple">Là biến thể ?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSave" class="btn btn-success">Ghi</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                                <button type="button" id="add-same-product" class="btn btn-success">Tạo mới sản phẩm cùng loại</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="attributeValue-template" type="x-tmpl-mustache">
    <div data-idcustomer="{{KeyId}}" id="ddlcustomer">
        <span id="fullname">{{AttributeValue}}</span>
    </div>
</script>
<script id="value-template" type="x-tmpl-mustache">
    <div data-idvalue="{{KeyId}}" class="ddlproduct">
        <span id="atrributevalue">{{ValueName}}</span>
    </div>
</script>
