@{
    ViewData["Title"] = "Sản phẩm";
}
@section Styles{
  
    }
@section Scripts{

    <script src="~/app/controllers/woodproduct/Attribute-management.js" asp-append-version="true"></script>
    <script src="~/app/controllers/woodproduct/index.js" asp-append-version="true"></script>
    <script>
        var product = new productController();
        product.initialize();</script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Danh sách sản phẩm</h3>
    </div>
    <div class="title_right">
        <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm</button>
                </span>
            </div>
        </div>
        <div class="col-md-8 col-sm-12  form-group pull-right">
            <button id="btnCreate" class="btn btn-success">Thêm mới</button>
            <a class="btn btn-danger" href="~/templates/ProductImportTemplate.xlsx">Tải mẩu</a>
            <button class="btn btn-primary" id="btn-import" type="button">Nhập <i class="fa fa-file-excel-o"></i></button>
            <button class="btn btn-primary" id="btn-export" type="button">Xuất <i class="fa fa-file-excel-o"></i></button>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table" id="tbl-product">
                    <thead>
                        <tr>
                            <td width="5%">STT</td>
                            <td>Mã sản phẩm</td>
                            <td>Tên sản phẩm</td>
                            <td>Loại sản phẩm</td>
                            <td>Đơn vị tính</td>
                            <td>Hình ảnh</td>
                            <td>Trạng thái</td>
                            <td width="5%">#</td>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="circularG">
    <div id="circularG_1" class="circularG"></div>
    <div id="circularG_2" class="circularG"></div>
    <div id="circularG_3" class="circularG"></div>
    <div id="circularG_4" class="circularG"></div>
    <div id="circularG_5" class="circularG"></div>
    <div id="circularG_6" class="circularG"></div>
    <div id="circularG_7" class="circularG"></div>
    <div id="circularG_8" class="circularG"></div>
</div>*@
<script id="table-template" type="x-tmpl-mustache">
    <tr data-nchild="{{NOChild}}" id="row-parent">
        <td id="keyid">{{KeyId}}</td>
        <td class="col-sm-1">{{ProductCode}}</td>
        <td class="col-sm-4">{{ProductName}}</td>
        <td class="col-sm-2">{{ProductType}}</td>
        <td class="col-sm-1">{{ProductUnit}}</td>
        <td class="col-sm-1">{{{Image}}}</td>
        <td class="col-sm-2">{{{Status}}}</td>
        <th class="col-sm-1" scope="row">
            {{{btnEdit}}}
        </th>
    </tr>
    <tr style="display:none" id="row-parent">
        <td colspan="8" class="padding-td">
            <div>
                <table class="table table-striped blue">
                    <tbody id="content-child"></tbody>
                </table>
            </div>
            <div class="row" id="page">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                        <span class="item-per-page">
                           10 bản ghi/trang.
                        </span>
                        Tổng số bản ghi: <strong id="lblTotalRecordsChild"></strong>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                        <ul id="paginationULChild"></ul>
                    </div>
                </div>
            </div>
            @*<article>
                <a class="btn btn-success" id="add-same-product">Thêm sản phẩm cùng loại</a>
            </article>*@
        </td>
    </tr>
</script>
<script id="child-template" type="x-tmpl-mustache">
    <tr>
        <td width="5%"></td>
        <td class="col-sm-1">{{ProductCodeChild}}</td>
        <td class="col-sm-4">{{ProductNameChild}}</td>
        <td class="col-sm-2">{{ProductTypeChild}}</td>
        <td class="col-sm-1">{{ProductUnitChild}}</td>
        <td class="col-sm-1">{{{ImageChild}}}</td>
        <td class="col-sm-2">{{{StatusChild}}}</td>
        <th class="col-sm-1" scope="row">
            <button class="btn btn-default btn-sm btn-edit-child" data-id="{{KeyIdChild}}"><i class="fa fa-pencil"></i></button>
        </th>
    </tr>
</script>
    @await Html.PartialAsync("_AddEditProduct.cshtml")
    @await Html.PartialAsync("_ImportExcelModal.cshtml")
    @await Html.PartialAsync("_CreateAttributes.cshtml")
