<div id="modal-edit-create" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm mới thuộc tính</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtAttributeCode" class="col-sm-2 col-form-label">Mã thuộc tính<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAttributeCode" name="txtAttributeCode">
                            </div>
                            <label for="txtAttributeName" class="col-sm-2 col-form-label">Tên thuộc tính<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAttributeName" name="txtAttributeName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtAttributeNote" class="col-sm-2 col-form-label">Ghi Chú</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtAttributeNote" name="txtAttributeNote">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtAttributeRequire" class="col-sm-2 col-form-label">Bắt buộc<span class="star">*</span></label>
                            <div class="col-sm-5">
                                <input type="checkbox" id="txtAttributeRequire" name="txtAttributeRequire">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="modal-body">
                                <div id="horizontal-form">
                                    <input type="hidden" id="hidId" value="" />
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-2">STT<span class="star">*</span></th>
                                                <th class="col-lg-8">Tên thuộc tính<span class="star">*</span></th>
                                                <th class="col-lg-2"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-atrribute-content"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button class="btn btn-xs btn-success" type="button" id="btn-add-attribute">Thêm</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <script type="x-tmpl-mustache" id="template-table-attribute">
                                        <tr data-id="{{KeyId}}">
                                            <td>{{STT}}</td>
                                            <td id="atribute-col"><input name="txtattributevalue1" id="txtattributevalue1" type="text" value="{{{Atributes}}}" class="form-control" /></td>
                                            <td><button class="btn btn-xs btn-danger btn-delete-quantity" type="button"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </script>

                                    <script type="x-tmpl-mustache" id="template-table-load">

                                        <tr data-id="{{KeyId}}">
                                            <td>{{STT}}</td>
                                            <td id="atribute-col"><input name="txtattributevalue1" id="txtattributevalue1" type="text" value="{{{Atributes}}}" class="form-control" /></td>
                                            <td><button class="btn btn-xs btn-danger btn-delete-quantity" type="button"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnAttributeSave" class="btn btn-success">Ghi</button>
                                <button type="button" id="btnAttributeCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
