<div id="modal-create-attribute" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm mới thuộc tính</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmAttribute">
                        <div class="form-group row">
                            <label for="txtAttributeCode" class="col-sm-2 col-form-label">Mã thuộc tính<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAttributeCodeCreate" name="txtAttributeCodeCreate">
                            </div>
                            <label for="txtAttributeName" class="col-sm-2 col-form-label">Tên thuộc tính<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAttributeNameCreate" name="txtAttributeNameCreate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtAttributeNote" class="col-sm-2 col-form-label">Ghi Chú</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtAttributeNoteCreate" name="txtAttributeNoteCreate">
                            </div>
                        </div>
                        <div class="form-group row">
                            
                            <label for="txtAttributeRequire" class="col-sm-2 col-form-label">Băt buộc<span class="star">*</span></label>
                            <div class="col-sm-5">
                                <input type="checkbox"  id="txtAttributeRequireCreate" name="txtAttributeRequireCreate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="modal-body">
                                <div id="horizontal-form">
                                    <input type="hidden" id="hidId" value="" />
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="col-lg-1">STT</td>
                                                <th class="col-lg-10">Giá trị của thuộc tính<span class="star">*</span></th>
                                                <th class="col-lg-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-atrribute-content-create"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="4">
                                                    <button class="btn btn-xs btn-success" type="button" id="btn-add-attribute-create">Thêm</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <script type="x-tmpl-mustache" id="template-table-attribute-create">
                                        <tr>
                                            <td>{{STT}}</td>
                                            <td id="attributeValue-col">
                                                <div id="wrapper">
                                                    <input name="txtattributevalue" id="txtattributevalue" style="width:100%" class="form-control textbox-f">
                                                </div>
                                            </td>
                                            <td><button class="btn btn-xs btn-danger btn-delete-attribute" type="button"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnAttributeCreateNew" class="btn btn-success">Ghi</button>
                                <button type="button" id="btnAttributeCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>