<div id="modal-print-report-boq2" class="bootbox modal fade modal-darkorange in" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">In báo cáo</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <div class="radio col-sm-5">
                                <label><input type="radio" id="rdoBOQ1" name="rdPtvt" value="Biểu giá dự thầu" checked>Biểu giá dự thầu</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="radio col-sm-5">
                                <label><input type="radio" id="rdoMaterialSysnthetic" name="rdPtvt" value="Bảng tổng hợp vật tư">Bảng tổng hợp vật tư</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="radio col-sm-3">
                                <label><input type="radio" id="optradio" name="rdPtvt" value="Bảng phân tích vật tư">Bảng phân tích vật tư</label>
                            </div>

                            <label for="txtSubtotal" class="col-sm-3 col-form-label">Chọn loại vật tư<span class="star">*</span></label>
                            <div class="col-xs-6">
                                <select id="material-dropdown" name="localmaterial" class="form-control " style="display:none"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="radio col-sm-3">
                                <label><input type="radio" id="mtdPrice" name="rdPtvt" value="Bảng phân tích định mức hao phí">Bảng phân tích định mức hao phí</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnPrintReport" class="btn btn-success">Xuất excel</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Thoát</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>