
<div id="modal-add-success" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >Thông báo</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <h2>Chúc mừng bạn đã đăng ký Quảng cáo thành công</h2>
                        <p>Vui lòng chuyển khoản tiền cọc cho chúng tôi trong 24h để nội dung được kiểm duyệt, sau 24h nếu bạn vẫn chưa chuyển khoản tiền cọc chúng tôi sẽ hủy hợp đồng!</p>
                        <h3>Thông tin tài khoản:</h3>
                        <p>
                            Chủ tài khoản: Bé Yêu Bookstore<br>
                            Số tài khoản: 0123456789<br>
                            Ngân hàng: Ngân hàng Bé Yêu<br>
                            Chi nhánh: Chi nhánh Bé Yêu<br>
                        </p>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <div class="col-sm-6" id="formCreate">
                  
                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Đóng</button>
                </div>
               
            </div>
        </div>

    </div>
</div>