@using BeYeuBookstore.Utilities.Constants
@using Microsoft.AspNetCore.Authorization
@using BeYeuBookstore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    //kiểm tra quyền tạo đối với nut create cho hiểu thị nut
    var result_create = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Create);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_delete = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Delete);
    //kiểm tra quyền tạo đối với nut update cho hiểu thị nut
    var result_edit = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Update);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_confirm = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Confirm);
}
<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addview">Thêm</h4>
                <h4 class="modal-title hidden" id="watchview">Xem</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtId" class="col-sm-2 col-form-label">Mã hợp đồng</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtId" readonly />
                            </div>
                            <label for="txtAdvertiser" class="col-sm-2 col-form-label">Người quảng cáo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAdvertiser" name="txtAdvertiser" readonly />
                                <input type="hidden" id="txtAdvertiserId" name="txtAdvertiserId" readonly />
                                <input type="hidden" id="txtAdvertiserStatus" name="txtAdvertiserStatus" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="dtDateCreated" class="col-sm-2 col-form-label">Ngày tạo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateCreated" readonly />
                            </div>
                            <label for="dtDateModified" class="col-sm-2 col-form-label">Ngày chỉnh sửa</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateModified" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <h3>Nội dung quảng cáo</h3>
                            <input type="hidden" id="txtAdContentKeyId" name="txtAdContentKeyId" readonly />
                        </div>
               

                        <div class="form-group row">
                            <label for="txtTitle" class="col-sm-2 col-form-label">Tiêu đề<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtTitle" name="txtTitle" />
                            </div>
                            <label for="txtLink" class="col-sm-2 col-form-label">Đường dẫn<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtLink" name="txtLink" />
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="txtDescription" class="col-sm-2 col-form-label">Mô tả</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtDescription" name="txtDescription" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="txtAdContentNote" class="col-sm-2 col-form-label">Ghi chú nội dung</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtAdContentNote" name="txtAdContentNote" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="txtFileImg" class="col-sm-2 col-form-label" id="oldImg">Hình ảnh<span class="star">*</span></label>
                            <label for="txtFileImg" class="col-sm-2 col-form-label" id="newImg">Tải ảnh mới<span class="star">*</span></label>
                            <div class="col-sm-10" id="UploadFile">
                                <div>
                                    <input type="file" id="fileAdImg" name="fileAdImg">
                                </div>
                            </div>
                            <div class="col-sm-10 hidden" id="AdImg">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtAdContentStatus" class="col-sm-2 col-form-label">Trạng thái nội dung</label>
                            <div class="col-sm-10" id="txtAdContentStatus">

                            </div>

                        </div>


                        <div class="form-group row">
                          <h3>Hợp đồng Quảng cáo</h3>
                        </div>


                        <div class="form-group row">
                            <label for="selAdPosition" class="col-sm-2 col-form-label">Vị trí<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selAdPosition" class="form-control" name="selAdPosition">
                                    <option value="">Chọn vị trí</option>
                                </select>
                            </div>
                            <label for="txtAdPositionPrice" class="col-sm-2 col-form-label">Giá (VNĐ/ngày)</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtAdPositionPrice" name="txtAdPositionPrice" readonly />
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="txtFromdate" class="col-sm-2 col-form-label">Ngày bắt đầu<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="txtFromdate" name="txtFromdate" autocomplete="off" class="form-control datepicker" placeholder="Chọn ngày bắt đầu" />
                            </div>
                            <label for="txtTodate" class="col-sm-2 col-form-label">Ngày kết thúc<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" id="txtTodate" name="txtTodate" autocomplete="off" class="form-control datepicker" placeholder="Chọn ngày kết thúc" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNodate" class="col-sm-2 col-form-label">Số ngày</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtNodate" name="txtNodate" readonly />
                            </div>
                            <label for="txtTotalPrice" class="col-sm-2 col-form-label">Tổng tiền (VNĐ)</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtTotalPrice" name="txtTotalPrice" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtMustPay" class="col-sm-2 col-form-label">Tiền cọc (VNĐ)<br>(50% Tổng tiền)</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtMustPay" name="txtMustPay" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNote" class="col-sm-2 col-form-label">Ghi chú hợp đồng</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtNote" name="txtNote" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="txtCensorStatus" class="col-sm-2 col-form-label">Trạng thái</label>
                            <div class="col-sm-10" id="txtCensorStatus">

                            </div>

                        </div>

                        <div class="form-group row" id="TermsOfUse">
                            <div class="col-sm-8 checkbox pull-left">
                                <label><input type="checkbox" value="" id="chkPaidDeposits" onchange="document.getElementById('btnSave').disabled = !this.checked;">Tôi đã đồng ý với <a href="/Process/Advertiser" target="_blank">điều khoản sử dụng</a></label>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <div class="col-sm-6" id="formCreate">
                    <button type="button" id="btnSaveAdContent" class="hidden btn btn-success">Sửa nội dung</button>
                    <button type="button" id="btnSave" class="btn btn-success">Ghi</button>
                    <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                </div>
                @if (result_confirm.Succeeded)
                {<div id="formConfirm">
                        <div class="col-sm-6" id="formAccountingCensorDeposite">
                            <button type="button" id="btnAccountingCensoredDeposite" class="btn btn-warning">Đã đóng cọc</button>
                        </div>
                        <div class="col-sm-6" id="formAccountingCensor">
                            <button type="button" id="btnAccountingCensored" class="btn btn-warning">Đã thanh toán</button>
                        </div>
                        <div class="col-sm-6" id="formCensor">
                            <button type="button" id="btnSuccess" class="btn btn-success">Thành công</button>
                            <button type="button" id="btnFail" class="btn btn-danger">Không thành công</button>
                        </div>
                 </div>
                }
            </div>
</div>

    </div>
</div>