@using BeYeuBookstore.Utilities.Constants
@using Microsoft.AspNetCore.Authorization
@using BeYeuBookstore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    //kiểm tra quyền tạo đối với nut create cho hiểu thị nut
    var result_create = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Create);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_delete = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Delete);
    //kiểm tra quyền tạo đối với nut update cho hiểu thị nut
    var result_edit = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Update);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_confirm = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.AdvertiseContract, Operations.Confirm);
}
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
}
@section Scripts{


    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.vi.min.js" asp-append-version="true"></script>
    <script src="~/app/controllers/advertisecontract/index.js" asp-append-version="true"></script>

    <script>
        var advertiseContract = new advertiseContractController();
        advertiseContract.initialize();</script>
}
<div class="title_left">
    <h3>Hợp đồng quảng cáo</h3>
</div>
<div class="form-group row">
    <div class="form-inline pull-left col-lg-4">
        <div class="input-daterange input-group" id="range-work-picker">
            <input id="dtBegin" type="text" placeholder="dd/mm/yyyy" name="start" class="form-control" />
            <span class="input-group-addon">đến</span>
            <input id="dtEnd" type="text" placeholder="dd/mm/yyyy" name="end" class="form-control" />
        </div>
    </div>
    <div class="col-sm-4 form-group">
        <input type="text" id="txtKeyword" class="form-control" placeholder="Gõ từ khóa...">
    </div>
    <div class="col-lg-2">
        <select class="form-control" id="selStatus">
            <option value="">Chọn trạng thái</option>
            <option value="0">Đang chờ duyệt</option>
            <option value="4">Đã thanh toán</option>
            <option value="3">Đã đóng cọc</option>
            <option value="2">Thành công</option>
            <option value="1">Không thành công</option>
        </select>
    </div>
    @if (result_create.Succeeded)
    {
        <div class="col-sm-1 form-group">
            <button id="btnCreate" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped table-bordered table-fix-header">
                    <thead>
                        <tr>
                            <th width="3%">Mã </th>
                            <th width="10%">Người quảng cáo</th>
                            <th width="10%">Tiêu đề quảng cáo</th>
                            <th>Từ ngày</th>
                            <th>Đến ngày</th>
                            <th>Giá trị hợp đồng</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th width="8%">#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{KeyId}}</td>
        <td>{{BrandName}}</td>
        <td>{{AdTitle}}</td>
        <td>{{{Fromdate}}}</td>
        <td>{{{Todate}}}</td>
        <td>{{ContractValue}}</td>
        <td>{{{Status}}}</td>
        <td>{{DateCreated}}</td>
        <td scope="row">
            @if (result_edit.Succeeded)
            {
                <a class="btn btn-xs btn-default btn-editContent {{Prop}}" data-id="{{KeyId}}"><i class="fa fa-pencil"></i></a>
            }
                <a class="btn btn-xs btn-primary btn-edit" data-id="{{KeyId}}"><i class="fa fa-eye"></i></a>
           
            </td>
    </tr>
</script>
@await Html.PartialAsync("_AddEditAdContract.cshtml")
@await Html.PartialAsync("_AddSuccessfully.cshtml")
