
<div id="modal-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="formEdittitle">Thêm/Chỉnh sửa</h4>
        
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group row">
                            <label for="txtId" class="col-sm-2 col-form-label">Mã NCC</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtId" readonly />
                            </div>
                            <label for="txtMerchantCompanyName" class="col-sm-2 col-form-label">Nhà cung cấp</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtMerchantCompanyName" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="dtDateCreated" class="col-sm-2 col-form-label">Ngày tạo</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateCreated" readonly />
                            </div>
                            <label for="dtDateModified" class="col-sm-2 col-form-label">Ngày chỉnh sửa</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="dtDateModified" readonly />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtAddress" class="col-sm-2 col-form-label">Địa chỉ<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input id="txtAddress" class="form-control" type="text" name="txtAddress" />
                            </div>
                            <label for="txtBussinessRegisterId" class="col-sm-2 col-form-label">Số GPĐKKD<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input id="txtBussinessRegisterId" class="form-control" type="text" name="txtBussinessRegisterId" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtTaxId" class="col-sm-2 col-form-label">Mã số thuế<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input id="txtTaxId" class="form-control" type="text" name="txtTaxId" />
                            </div>
                            <label for="txtWebsite" class="col-sm-2 col-form-label">Trang chủ NCC<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input id="txtWebsite" class="form-control" type="text" name="txtWebsite" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="selStatus" class="col-sm-2 col-form-label">Trạng thái<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selDetailStatus" class="form-control" name="selDetailStatus">
                                    <option value="">Chọn trạng thái</option>
                                    <option value="1">Kích hoạt</option>
                                    <option value="0">Khóa</option>

                                </select>
                            </div>
                            <label for="selScale" class="col-sm-2 col-form-label">Quy mô<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <select id="selDetailScale" class="form-control" name="selDetailScale">
                                    <option value="">Chọn quy mô</option>
                                    <option value="0">Lớn</option>
                                    <option value="1">Vừa </option>
                                    <option value="2">Nhỏ</option>

                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <h4>Thông tin ngân hàng:</h4>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Tên NH<span class="star">*</span></label>
                            <div class="col-sm-4 ">
                                <input id="" class="form-control" type="text" name="" />
                            </div>
                            <label for="" class="col-sm-2 col-form-label">Chi nhánh<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="" name="" />
                            </div>

                        </div>


                        <div class="form-group row">
                            <h4>Người liên hệ trực tiếp:</h4>
                        </div>
                        <div class="form-group row">
                            <label for="txtDirectContactName" class="col-sm-2 col-form-label">Họ và tên<span class="star">*</span></label>
                            <div class="col-sm-4 ">
                                <input id="txtDirectContactName" class="form-control" type="text" name="txtDirectContactName" />
                            </div>
                            <label for="txtHotline" class="col-sm-2 col-form-label">Số điện thoại<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtHotline" name="txtHotline" />
                            </div>

                        </div>
                        <div class="form-group row">
                            <label for="txtContactAddress" class="col-sm-2 col-form-label">Địa chỉ<span class="star">*</span></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="txtContactAddress" name="txtContactAddress" />
                            </div>
                        </div>



                    </form>
                </div>
            </div>
            <div class="modal-footer">

           
                    <div class="col-sm-6">
                        <button type="button" id="btnSave" class="btn btn-success">Ghi</button>
                        <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                    </div>

                
            </div>
        </div>

    </div>
</div>