@using ERPWebApp.Utilities.Constants
@using Microsoft.AspNetCore.Authorization
@using ERPWebApp.Authorization
@inject IAuthorizationService AuthorizationService
@{
    //kiểm tra quyền tạo đối với nut create cho hiểu thị nut
    var result_edit = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.PurchaseOrderCons, Operations.Create);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_delete = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.PurchaseOrderCons, Operations.Delete);
    //kiểm tra quyền tạo đối với nut update cho hiểu thị nut
    var result_create = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.PurchaseOrderCons, Operations.Update);
    //kiểm tra quyền tạo đối với nut delete cho hiểu thị nut
    var result_confirm = await AuthorizationService.AuthorizeAsync(User, Const_FunctionId.PurchaseOrderCons, Operations.Confirm);
}

@{
    ViewData["Title"] = "Tạo đơn đặt hàng PO";
}
@section Styles{
    <link href="~/css/autocomplete.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/app/shared/auto/autoAddressbook.js"></script>
    <script src="~/app/controllers/Cons/PurchaseOrder/autoProjectAndSo.js"></script>
    <script src="~/app/shared/auto/autoUnit.js"></script>>
    <script src="~/app/controllers/Cons/PurchaseOrder/autoBomToOrder.js"></script>
    <script src="~/app/controllers/Cons/PurchaseOrder/PODetail.js" asp-append-version="true"></script>
    <script src="~/app/controllers/Cons/PurchaseOrder/search.js" asp-append-version="true"></script>
    <script src="~/app/controllers/Cons/PurchaseOrder/purchaseOrder.js" asp-append-version="true"></script>
    <script>
        var purchaseOrder = new PurchaseOrderController();
        var searchPO = new POSearchController();
        var PoDetail = new PurchaseOrderDetailController();
        searchPO.initialize();
        purchaseOrder.initialize();
        PoDetail.initialize();
    </script>
}
<div id="Page-SearchPurchaseOrder">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách đơn đặt hàng</h3>
        </div>
        <div class="title_right">
            <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-right">
                <div class="input-group">
                    <input type="text" id="txtKeyword" class="form-control" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btnSearch" type="button">Tìm</button>
                    </span>
                </div>
            </div>
            <div class="col-md-8 col-sm-12  form-group pull-right">
                <button id="btnCreate" class="btn btn-success">Thêm mới</button>
                <a class="btn btn-danger" href="~/templates/ProductImportTemplate.xlsx">Tải mẩu</a>
                <button class="btn btn-primary" id="btn-import" type="button">Nhập <i class="fa fa-file-excel-o"></i></button>
                <button class="btn btn-primary" id="btn-export" type="button">Xuất <i class="fa fa-file-excel-o"></i></button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="5%">STT</th>
                                <th>Mã đơn hàng</th>
                                <th>Số PO</th>
                                <th>Mã BOQ</th>
                                <th>Mã công trình</th>
                                <th>Tên công trình</th>
                                <th>Nhà cung cấp</th>
                                <th>Trạng thái</th>
                                <th width="5%">#</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-content"></tbody>
                    </table>
                    <!--Pagination-->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddlShowPage">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <span class="item-per-page">
                                    bản ghi/trang.
                                </span>
                                Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{STT}}</td>
            <td>{{KeyId}}</td>
            <td>{{PONumber}}</td>
            <td>{{SalesOrderFK}}</td>
            <td>{{ConstructionFK}}</td>
            <td>{{ConstructionName}}</td>
            <td>{{{VenderName}}}</td>
            <td>{{{Status}}}</td>
            <th scope="row">
                <button class="btn btn-default btn-sm btn-edit" data-id="{{KeyId}}"><i class="fa fa-pencil"></i></button>
            </th>
        </tr>
    </script>
</div>
<div id="Page-mainPO" style="display:none;">
    <div class="page-title">
        <div class="title_left col-lg-12 ">
            <div class="col-md-12 col-sm-12  form-group pull-left">
                @if (result_create.Succeeded || result_edit.Succeeded)
                {
                    <button id="btn-Save" class="btn btn-success">Ghi</button>
                    <button id="btn-cancel" class="btn btn-danger">Không ghi</button>
                }

                @if (result_confirm.Succeeded)
                {
                    <button id="btnConfirm" class="btn btn-success">Xác nhận</button>
                    <button id="btnUnConfirm" class="btn btn-danger">Không xác nhận</button>
                }
                else
                {
                    <button id="btnRequiteConfirm" class="btn btn-success">Yêu cầu XN</button>
                }

            </div>
        </div>
        <div class="title_right col-lg-4">
            <div class="col-md-12 col-sm-12  form-group" style="text-align:right">
                <button id="btnRefresh-search" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-refresh"></i></button>
                @if (result_create.Succeeded || result_edit.Succeeded)
                {
                    <a class="btn btn-danger" href="~/templates/OrderDetailImportTemplate.xlsx">Tải mẫu</a>
                    <button class="btn btn-primary" id="btn-import" type="button">Nhập <i class="fa fa-file-excel-o"></i></button>
                    <input type="file" id="fileimportexcel-od" style="display:none" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    <button class="btn btn-primary" id="btn-export" type="button">Xuất <i class="fa fa-file-excel-o"></i></button>
                    <button class="btn btn-primary" id="btn-print" type="button">In ra <i class="fa fa-print"></i></button>
                }
                <button id="btnClose" class="btn btn-danger"><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_content">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="contain-info x_panel">
                            <div class="form-group row">
                                <label for="txtPONumber" class="col-sm-2 col-form-label">Số PO</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="txtPONumber" name="txtPONumber">
                                </div>
                                <label for="txtPOId" class="col-sm-1 col-sm-offset-1 col-form-label">Mã đơn hàng</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="txtPOId" name="txtPOId">
                                </div>
                                <label for="txtCreateDate" class="col-sm-1 col-form-label">Ngày tạo</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txtCreateDate" name="txtCreateDate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtConstructionFk" class="col-sm-2 col-form-label">Công trình</label>
                                <div class="col-sm-7 autocomplete">
                                    <input id="txtConstructionFk" data-id type="text" name="txtConstructionFk" placeholder="Chọn công trình" style="width:100%" />
                                </div>
                                <label for="txtSOFk" class="col-sm-1 col-form-label">Mã BOQ</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control" id="txtSOFk" name="txtSOFk">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtVendor" class="col-sm-2 col-form-label">Nhà cung cấp <span class="star">*</span></label>
                                <div class="col-sm-6 autocomplete">
                                    <input id="txtVendor" data-id type="text" name="txtVendor" placeholder="Chọn nhà cung cấp" style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtBuyerFk" class="col-sm-2 col-form-label">Người liên lạc <span class="star">*</span></label>
                                <div class="col-sm-6 autocomplete">
                                    <input id="txtBuyerFk" data-id type="text" name="txtBuyerFk" placeholder="Chọn nv liên lạc" style="width:100%" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtTaxRate" class="col-sm-2 col-form-label">% thuế</label>
                                <div class="col-sm-1">
                                    <input id="txtTaRate" class="form-control" />
                                </div>
                                <label for="lblPOStatus" id="lblPOStatus" class="col-sm-offset-1 col-sm-6 col-form-label" style="color:red;">Tạo mới test</label>
                            </div>
                            <!-- add tabs-->
                            <div class="container">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tabGeneral">Thông tin đơn đặt hàng</a></li>
                                    <li><a data-toggle="tab" href="#tabDetail">Chi tiết đơn đặt hàng</a></li>
                                </ul>
                            </div>

                            <div class="tab-content panel-body">
                                <div id="tabGeneral" class="tab-pane fade in active" style="padding:10px;">
                                    <div class="form-group row">
                                        <label for="txtPONumber" class="col-sm-2 col-form-label">Điều kiện thanh toán <span class="star">*</span></label>
                                        <div class="col-sm-10">
                                            <textarea rows="5" class="form-control" placeholder="Điều kiện thanh toán ?" id="txtPONumber" name="txtPONumber" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPONumber" class="col-sm-2 col-form-label">Thỏa thuận khác</label>
                                        <div class="col-sm-10">
                                            <textarea rows="3" placeholder="Thỏa thuận khác" class="form-control" id="txtPONumber" name="txtPONumber"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPONumber" class="col-sm-2 col-form-label">Chủng loại</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtPONumber" name="txtPONumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPONumber" class="col-sm-2 col-form-label">Địa chỉ nhận</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="txtPONumber" name="txtPONumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPONumber" class="col-sm-2 col-form-label">Thời gian hoàn thành</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="txtPONumber" name="txtPONumber">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="txtPONumber" class="col-sm-2 col-form-label">Thời gian bảo hành</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="txtPONumber" name="txtPONumber">
                                        </div>
                                    </div>
                                </div>
                                <div id="tabDetail" class="tab-pane fade" style="padding:10px;">
                                    <div class="col-sm-12 pre-scrollable" style="max-height:600px">
                                        <table class="table table-bordered table-sm" id="table-orderDetail" cellspacing="0" width:100%>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>STT</th>
                                                    <th>Mã mặt hàng</th>
                                                    <th>Mặt hàng</th>
                                                    <th>Quy cách</th>
                                                    <th>ĐVT</th>
                                                    <th>Số lượng</th>
                                                    <th>Đơn giá</th>
                                                    <th>Thành tiền</th>
                                                    <th>Thành tiền nguồn(BOQ2)</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-PurchaseOrder-content" class="table-body"></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="16">
                                                        <button class="btn btn-xs btn-success" type="button" id="btn-add">Thêm</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtLastUpdatedByFK" class="col-sm-2 col-form-label">Người cập nhật gần nhất</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtLastUpdatedByFK">
                                    </div>
                                    <label for="dtDateModified" class="col-sm-2 col-form-label">Ngày cập nhật gần nhất</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="dtDateMotified" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="x-tmpl-mustache" id="template-table-purchaseorder">
    <tr>
        <td><button class="btn btn-xs btn-danger btn-delete-po" type="button"><i class="fa fa-trash"></i></button></td>
        <td>{{stt}}</td>
        <td>{{ProductCode}}</td>
        <td>{{ProductName}}</td>
        <td>{{Description}}</td>
        <td data-value={{unitfk}}>{{unitName}}</td>
        <td data-value={{qtyvalue}}>{{qty}}</td>
        <td data-value={{pricevalue}}>{{price}}</td>
        <td data-value={{subtotalvalue}}>{{subtotal}}</td>
        <td data-value={{subtotalsourcevalue}}>{{subtotalsource}}</td>
        @*<td id="attributeValue-col">
                <div id="wrapper">
                    <input name="tags" id="singleFieldTags2" style="width:100%" class="form-control easyui-tagbox combobox-f combo-f textbox-f" value={{value}} />
                </div>
            </td>*@

    </tr>
</script>
@await Html.PartialAsync("_AddEditPurchaseOrderDetail.cshtml");
@await Html.PartialAsync("_SelectBomToOrder.cshtml");